@model IEnumerable<eshop.EntitiesLayer.Models.SubCategory>

@{
    ViewBag.Title = "getSubCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>SubCategories</h2>

<a href="/Admin/Index"><span class="fa fa-arrow-left  "></span></a>
<a href="/AdminSubCategory/Create" style="float:right;"><span class="fa fa-plus-circle"></span></a>
<table class="table">
    <tr>
       
        <th>
            SubCategoryName
        </th>
        <th>
            SubCategoryDescription
        </th>
        <th>
            CreatedDate
        </th>
        <th>
            ModifiedDate
        </th>
        <th>
            RemovedDate
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
       
        <td>
            @Html.DisplayFor(modelItem => item.SubCategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubCategoryDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModifiedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RemovedDate)
        </td>
        <td>
            <a href="/AdminSubCategory/Update/@item.SubCategoryId" class="btn btn-success" title="Güncelle"><span class="fa fa-pencil"></span></a>
            <a href="/AdminSubCategory/Delete/@item.SubCategoryId" class="btn btn-danger" title="Sil"><span class="fa fa-trash"></span></a>
            <a href="/AdminSubCategory/Details/@item.SubCategoryId" class="btn btn-info" title="Detay"><span class="fa fa-list"></span></a>
        </td>
    </tr>
}

</table>
