@model eshop.EntitiesLayer.Models.Product
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery-1.10.2.js"></script>
<div id="breadcrumb">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="#">Anasayfa</a></li>
            <li><a href="#">Ürünler</a></li>
            <li><a href="#">@Model.SubCategory.Category.Name</a></li>
            <li class="active">@Model.Name</li>
        </ul>
    </div>
</div>
<!-- /BREADCRUMB -->
<!-- section -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!--  Product Details -->
            <div class="product product-details clearfix">
                <div class="col-md-6">
                    <div id="product-main-view">
                        @foreach (var item in Model.ImageFiles.ToList())
                        {
                            <div class="product-view">
                                <img src="@item.ImagePath" alt="">
                            </div>
                        }


                    </div>
                    <div id="product-view">
                        @foreach (var item in Model.ImageFiles.ToList())
                        {
                            <div class="product-view">
                                <img src="@item.ImagePath" alt="">
                            </div>
                        }


                    </div>
                </div>
                <div class="col-md-6">
                    <div class="product-body">
                        <div class="product-label">
                            <span>New</span>
                            <span class="sale">-20%</span>
                        </div>
                        <h2 class="product-name">@Model.Name</h2>
                        <h3 class="product-price">$32.50 <del class="product-old-price">$45.00</del></h3>
                        <div>
                            <div class="product-rating">
                                @*@for (int i = 0; i < Model.Star; i++)
                                {
                                    <i class="fa fa-star"></i>

                                }
                                @for (int i = 0; i < 5 - Model.Star; i++)
                                {

                                    <i class="fa fa-star-o empty"></i>
                                }*@

                            </div>
                            <a href="#">3 Review(s) / Add Review</a>
                        </div>
                        <p><strong>Availability:</strong> In Stock</p>
                        <p><strong>Brand:</strong>@Model.Brand.BrandName</p>
                        <p>
                            @Model.Description
                        </p>
                        <div class="product-options">
                            <ul class="size-option">
                                <li><span class="text-uppercase">Size:</span></li>
                                @foreach (var item in Model.Sizes.Take(1))
                                {
                                    <li class="active"><a href="#">@item.SizeName</a></li>
                                }
                                @foreach (var item in Model.Sizes.Where(m => m.SizeId > 1).ToList())
                                {
                                    <li><a href="#">@item.SizeName</a></li>
                                }

                            </ul>
                            <ul class="color-option">
                                <li><span class="text-uppercase">Color:</span></li>
                                @foreach (var item in Model.Colors.Take(1))
                                {
                                    <li class="active"><a href="#" style="background-color:#@item.Code;"></a></li>
                                }
                                @foreach (var item in Model.Colors.Where(m => m.ColorsId > 1))
                                {
                                    <li><a href="#" style="background-color:#@item.Code;"></a></li>
                                }


                            </ul>
                        </div>

                        @if (Session["loginCustomer"] != null)
                        {
                            <div class="product-btns">
                                <div class="qty-input">
                                    <span class="text-uppercase">Adet: </span>
                                    <input class="input" type="number">
                                </div>
                                <button class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i> Sepete Ekle </button>
                                <div class="pull-right">
                                    <a href="/Fav/AddToFav/@Model.ProductId" class="main-btn icon-btn"><i class="fa fa-heart"></i></a>
                                    <button class="main-btn icon-btn"><i class="fa fa-exchange"></i></button>
                                    <button class="main-btn icon-btn"><i class="fa fa-share-alt"></i></button>
                                </div>
                            </div>
                        }
                        
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="product-tab">
                        <ul class="tab-nav">
                            <li class="active"><a data-toggle="tab" href="#tab1"> Ürün Tanıtımı </a></li>
                            <li><a data-toggle="tab" href="#tab1">Detay</a></li>
                            <li><a data-toggle="tab" href="#tab2">Yorumlar @Model.Comments.Count() </a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="tab1" class="tab-pane fade in active">
                                <p>
                                    @Model.Description
                                </p>
                            </div>
                            <div id="tab2" class="tab-pane fade in">

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="product-reviews">
                                            @foreach (var item in Model.Comments.ToList())
                                            {
                                                <div class="single-review">
                                                    <div class="review-heading">
                                                        <div><a href="#"><i class="fa fa-user-o"></i> @item.Customer.Name</a></div>
                                                        <div><a href="#"><i class="fa fa-clock-o"></i> @item.CreatedDate </a></div>
                                                        <div class="review-rating pull-right">
                                                            @*@for (int i = 0; i < item.Product.Star; i++)
                                                            {
                                                                <i class="fa fa-star"></i>
                                                            }
                                                            @for (int i = 0; i < 5 - item.Product.Star; i++)
                                                            {
                                                                <i class="fa fa-star-o empty"></i>
                                                            }*@



                                                        </div>
                                                    </div>
                                                    <div class="review-body">
                                                        <p>
                                                            @item.Text
                                                        </p>
                                                    </div>
                                                </div>
                                            }



                                            <ul class="reviews-pages">
                                                <li class="active">1</li>
                                                <li><a href="#">2</a></li>
                                                <li><a href="#">3</a></li>
                                                <li><a href="#"><i class="fa fa-caret-right"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <h4 class="text-uppercase">Yorum Paylaş</h4>
                                        <!-- Eger Kullanici yoksa bu sayfa gorulecek! -->
                                        <!-- Eger Kullanici varsa  sadece text alani gorulecek! gorulecek! -->
                                        <!-- <p>Your email address will not be published.</p> -->
                                        
                                            <form class="review-form">
                  

                                                <div class="form-group">
                                                    <textarea class="input" placeholder="Bir yorum yaz"  id="txtComment">

                                                </textarea>
                                                </div>
                                                <div class="form-group">
                                                    <div class="input-rating">
                                                        <strong class="text-uppercase">Oy Ver </strong>
                                                        <div class="stars">
                                                            <input type="radio" id="star5" name="rating" value="5" /><label for="star5"></label>
                                                            <input type="radio" id="star4" name="rating" value="4" /><label for="star4"></label>
                                                            <input type="radio" id="star3" name="rating" value="3" /><label for="star3"></label>
                                                            <input type="radio" id="star2" name="rating" value="2" /><label for="star2"></label>
                                                            <input type="radio" id="star1" name="rating" value="1" /><label for="star1"></label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <button class="primary-btn" id="btnComment" >Yorum  Yap </button>


                                            </form>
                                      
                                    </div>
                                </div>



                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /Product Details -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /section -->
<!-- section -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- section title -->
            <div class="col-md-12">
                <div class="section-title">
                    <h2 class="title">Picked For You</h2>
                </div>
            </div>
            <!-- section title -->
            <!-- Product Single -->
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="product product-single">
                    <div class="product-thumb">
                        <button class="main-btn quick-view"><i class="fa fa-search-plus"></i> Quick view</button>
                        <img src="~/img/product04.jpg" alt="">
                    </div>
                    <div class="product-body">
                        <h3 class="product-price">$32.50</h3>
                        <div class="product-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o empty"></i>
                        </div>
                        <h2 class="product-name"><a href="#">Product Name Goes Here</a></h2>
                        <div class="product-btns">
                            <button class="main-btn icon-btn"><i class="fa fa-heart"></i></button>
                            <button class="main-btn icon-btn"><i class="fa fa-exchange"></i></button>
                            <button class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Product Single -->
            <!-- Product Single -->
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="product product-single">
                    <div class="product-thumb">
                        <div class="product-label">
                            <span>New</span>
                        </div>
                        <button class="main-btn quick-view"><i class="fa fa-search-plus"></i> Quick view</button>
                        <img src="~/img/product03.jpg" alt="">
                    </div>
                    <div class="product-body">
                        <h3 class="product-price">$32.50</h3>
                        <div class="product-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o empty"></i>
                        </div>
                        <h2 class="product-name"><a href="#">Product Name Goes Here</a></h2>
                        <div class="product-btns">
                            <button class="main-btn icon-btn"><i class="fa fa-heart"></i></button>
                            <button class="main-btn icon-btn"><i class="fa fa-exchange"></i></button>
                            <button class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Product Single -->
            <!-- Product Single -->
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="product product-single">
                    <div class="product-thumb">
                        <div class="product-label">
                            <span class="sale">-20%</span>
                        </div>
                        <button class="main-btn quick-view"><i class="fa fa-search-plus"></i> Quick view</button>
                        <img src="~/img/product02.jpg" alt="">
                    </div>
                    <div class="product-body">
                        <h3 class="product-price">$32.50 <del class="product-old-price">$45.00</del></h3>
                        <div class="product-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o empty"></i>
                        </div>
                        <h2 class="product-name"><a href="#">Product Name Goes Here</a></h2>
                        <div class="product-btns">
                            <button class="main-btn icon-btn"><i class="fa fa-heart"></i></button>
                            <button class="main-btn icon-btn"><i class="fa fa-exchange"></i></button>
                            <button class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Product Single -->
            <!-- Product Single -->
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="product product-single">
                    <div class="product-thumb">
                        <div class="product-label">
                            <span>New</span>
                            <span class="sale">-20%</span>
                        </div>
                        <button class="main-btn quick-view"><i class="fa fa-search-plus"></i> Quick view</button>
                        <img src="~/img/product01.jpg" alt="">
                    </div>
                    <div class="product-body">
                        <h3 class="product-price">$32.50 <del class="product-old-price">$45.00</del></h3>
                        <div class="product-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o empty"></i>
                        </div>
                        <h2 class="product-name"><a href="#">Product Name Goes Here</a></h2>
                        <div class="product-btns">
                            <button class="main-btn icon-btn"><i class="fa fa-heart"></i></button>
                            <button class="main-btn icon-btn"><i class="fa fa-exchange"></i></button>
                            <button class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Product Single -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>

<script type="text/javascript" >
    $(function () {
        $("#btnComment").click(function () {
            var commentText = $("#txtComment").val();
            $.ajax({
                url: "/Comment/DoComment",
                data: { comment: commentText }
            }).done(function () {
                    alert("Yorum başarıyla yapıldı");
                }).fail(function (err) {
                    alert(err);
            });
        });
    });
</script>

