
@model List<eshop.EntitiesLayer.Models.Basket>
@{
    Layout = null;
}
<!-- Cart -->
<li class="header-cart dropdown default-dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
        <div class="header-btns-icon">
            <i class="fa fa-shopping-cart"></i>
            <span class="qty">@Model.Count()</span>
        </div>
        <strong class="text-uppercase">Sepetim</strong>
        <br>
        <span>@Model.ToList().Sum(m=>m.Product.UnitPrice) TL </span>
    </a>
    <div class="custom-menu">
        <div id="shopping-cart">
            <div class="shopping-cart-list">
                @foreach (var item in Model)
                {
                    <div class="product product-widget">
                        <div class="product-thumb">
                            @foreach (var images in item.Product.ImageFiles.Take(1))
                            {
                                <img src="@images.ImagePath" alt="">
                            }

                        </div>
                        <div class="product-body">
                            <h3 class="product-price">@item.Product.UnitPrice TL  <span class="qty">x3</span></h3>
                            <h2 class="product-name"><a href="#">@item.Product.Name</a></h2>
                        </div>
                        <a href="/Basket/RemoveBasket/@item.BasketId" class="cancel-btn"><i class="fa fa-trash"></i></a>
                    </div>

                }

            </div>
            <div class="shopping-cart-btns">
                <button class="main-btn">Kartı Gürüntüle</button>
                <button class="primary-btn"> Kontrol Et <i class="fa fa-arrow-circle-right"></i></button>
            </div>
        </div>
    </div>
</li>